*{margin: 0; padding: 0; font-family: 'Titillium Web', sans-serif;}

.navbar {
    opacity: .8;
}
.navbar-brand{
    padding-left: 2.9rem;
}
.offcanvas-title {
    text-align: left;
}
.logoNav {
    padding-bottom: 2rem;
}
.nav-item {
    font-weight: 500;
    font-size: 1.2rem;
}


.contenedor {
    
    background-image: url(img/Fondo_portada.jpg);
    background-repeat: no-repeat;
    padding-top: 3rem;
    padding-bottom: 2rem;
    background-color: #1d1d1d;
    
   }

h1 {
    color: #faf7f4;
    font-size: 7.4rem;
    font-weight: 700;
    line-height: 6.5rem;
    margin:1.7rem;
    padding-top: 10rem;
    margin-right: 30rem;
    margin-left: 4rem;
    
}


body {
    background-color: #ffffff;
    }

.monograma {
    text-align: center;
    padding-bottom: 0.5rem;
    padding-top: 0px;
    padding-left: 7rem;
    }

header {
    padding-bottom: 0px;
    }

.miPresentacion {
    padding-bottom: 3.75rem;
    font-family: 'Titillium Web', sans-serif;
    font-size: 112rem;
    margin: 5rem;
    color: #faf7f4;
    margin-right: 48rem;
    text-align: justify;
    }

.tituloAbout h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 5.5rem;
    color: #faf7f4;
    padding-left: 3.4rem;
    position: absolute;
    padding-top:4rem;
    }

.tituloAbout2 h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 9rem;
    color: #faf7f4;
    padding-left: 3.5rem;
    position: absolute;
    opacity: .1;
    margin-top: -3.25rem;
    margin-left: -.6rem;
    padding-top: 5rem;
    }

.textoAbout {
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.5rem;
    color: #faf7f4;
    display: flex;
    padding-left: 3.75rem;
    padding-right: 5.6rem;
    padding-top: 6.5rem;
    flex-direction: column;
    align-items:center;
    }

.skills {
    font-family: 'Titillium Web', sans-serif;
    font-size: 5.5rem;
    color: #faf7f4;
    padding-top: 19rem;
    position: absolute; 
    }
   
.skills2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 9rem;
    color: #faf7f4;
    position: absolute;
    opacity: .1; 
    padding-top: 16rem; 
    }   

.barras {
    flex: auto;
    align-content: space-around;
    width: 90%;
    padding-top: 15rem;
    }

.circulo {
    position: absolute;
    height: 68%;
    padding-left: 1.12rem;
    padding-top: 2rem;
    }

.fotoabout {
    padding-left: 5.6rem;
    padding-bottom: 5.6rem;
    padding-top: 8.75rem;
    align-content: flex-start;
    display: flex;
    justify-content: center;
    }

.about {
    background-color: #161616;
    display: flex;
    }

.work h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 5.5rem;
    color: #000000;
    padding-left: 3.4rem;
    position: absolute;
    padding-top: 2.5rem;
    }


.work2 h2 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 8.1rem;
    color: #000000;
    padding-left: 3.5rem;
    position: absolute;
    opacity: .08;
    margin-top: -2.3rem;
    margin-left: -0.3rem;
    padding-top: 2.5rem;
    }

h2 {
    font-family: 'titillium web' , sans-serif;
    font-size: 1.3rem;
    font-weight: 300;
    padding-top: 0.5rem; 
    }

h2 .texto {
    color: #1d1d1d;
    text-align: left;   
    }

.trabajos {
    display:flex;
    justify-content:space-around;
    padding: 3.12rem;
    }

.claudine {
    padding: 0.62rem;
    padding-top:11.25rem;
    }

.tapa {
    background-color:#f0f0f0;
    text-align: center;
    }

.fondoJBL {
    text-align: center;
    padding-bottom: 2rem;
    padding-top: 2rem;
    background-color: #d2cfcf;
    line-height: 7.5rem;
    }

.textoJBL {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.1rem;
    line-height: 32rem;
    font-weight: 500;
    padding-top: 3rem;
    padding-bottom: 4.6rem;
    margin-right: 11.8rem;
    margin-left: 11.8rem;
    text-align: justify;
}

.fondoclaudine{
    background-color: #f2f1ed;
    display: flex;
   justify-content: center;
}

.textotypo {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.1rem;
    line-height: 2.3rem;
    font-weight: 500;
    padding-top: 3.6rem;
    text-align:justify;
    padding-left: 10rem;
    padding-right: 12rem;
    color: #3e3e3e;
    letter-spacing: .3pt;
    }

.fondotypo {
    display: flex;
    flex-direction: column;
    align-items: center;
       
    }

.textoMiel {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.1rem;
    line-height: 2.3rem;
    font-weight: 500;
    padding-top: 5.5rem;
    padding-bottom: 6rem;
    text-align:justify;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color:#fed78a;
    color: #3e3e3e;
    }

.fondoMiel {
    display: flex;
    flex-direction: column;
    }

.textoCatamarca {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.1rem;
    line-height: 2.3rem;
    font-weight: 500;
    padding-top: 1.8rem;
    padding-bottom: 6rem;
    text-align:justify;
    padding-left: 10rem;
    padding-right: 10rem;
    background-color:#e7e7e7;
    color: #3e3e3e; 
    }

.fondoCatamarca {
    display: flex;
    flex-direction: column;
    }

.textoMemo {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.1rem;
    line-height: 2.3rem;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 6rem;
    text-align:justify;
    padding-left: 10rem;
    padding-right: 12rem;
    background-color:#ffffff;
    color: #3e3e3e;
    letter-spacing: .3pt;
    }

.fondoMemo {
    display: flex;
    flex-direction: column;
    }

.fondoBioma {
    display: flex;
    flex-direction: column;
}

.textoyometropoli {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.1rem;
    line-height: 2.3rem;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 6rem;
    text-align:justify;
    padding-left: 10rem;
    padding-right: 12rem;
    letter-spacing: .3pt;  
}

.fondoyometropoli {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    align-items: center;
}

.textobuscandolov {
    font-family: 'Titillium Web', sans-serif;
    font-size: 2.1rem;
    line-height: 2.3rem;
    font-weight: 500;
    padding-top: 0.5rem;
    padding-bottom: 6rem;
    text-align:justify;
    padding-left: 10rem;
    padding-right: 12rem;
    letter-spacing: .3pt;  
}

.fondobuscandolov {
    display: flex;
    flex-direction: column;
    
    }

.trabajos img{
    width: 100%;
    border-radius: 0.75rem;
       
}

.trabajos img:hover {
    opacity: .5;
    transition: .1s ease-in-out;
    box-shadow: 0 1rem 1.25rem #949494;
    width: 100.2%;
}

.trabajos2 {
    display:flex;
    justify-content:space-around;
    padding: 3.1rem; 
    margin-top: -3.1rem;
    }


.trabajos2 img{
    width: 100%; 
    border-radius: 0.75rem;
    }

.trabajos2 img:hover {
    opacity: .5;
    transition: .1s ease-in-out;
    box-shadow: 0 1rem 1.25rem #949494;
    width: 100.2%
    }

.miel {
    padding: 0.6rem;

}

.trabajos3 {
    display:flex;
    justify-content:space-around;
    padding: 3.1rem;
    margin-top: -3.1rem;
    }


.trabajos3 img{
    width: 100%; 
    border-radius: 0.75rem;
    }

.trabajos3 img:hover {
    opacity: .5;
    transition: .1s ease-in-out;
    box-shadow: 0 1rem 1.25rem #949494;
    width: 100.2%
    }

.bioma {
    padding: 0.6rem;
    
    }

footer {
    background-color: #161616;
}






